.reserve {
    grid-column: 1 / -1;
}

.reserve-section {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    grid-template-rows: 1fr;
    padding: 55px;
    text-align: center;
    background-image: linear-gradient(to bottom, #4d4c4c4f, #000000), url("../img/bg2.jpg");
    background-position: center;
}

.right {
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 2fr 1fr repeat(3, 0.5fr) 2fr;
    padding-top: 15px;
}

.left {
    background-color: rgba(255, 255, 255, 0.74);
    grid-column: 3 / 6;
    display: grid;
    padding: 10px;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 2fr;
}

.left-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.leftbox-img {
    width: 100%;
    height: 120px;
    clip-path: circle(25% at 50% 50%);
}

.left-title,
.reserve-branch {
    color: goldenrod;
}

.parantes {
    color: goldenrod;
}

.order-text {
    align-self: center;
}

@media screen and (max-width: 675px) {
    .left {
        font-size: 12px;
    }
    .right {
        font-size: 13px;
    }
    .reserve-section {
        padding: 10px 0px;
    }
}

@media screen and (max-width: 400px) {
    .reserve-section {
        grid-template-columns: 15px repeat(4, 1fr) 15px;
    }
}