.reserve{
    grid-column: 1 / -1;
}

.reserve-section{
    background-image: linear-gradient(to bottom , #38383854 , #000000d2), url("../img/bg2.jpg");
    background-size: cover;
    background-position-y: 80%;
    display: grid;
    grid-template-columns: 20px repeat(4 , 1fr) 20px;
    grid-template-rows: 1fr;
    padding: 55px;
    text-align: center;
}

.right{
    background-color: #000000ce;
    color: white;
    grid-column: 2 /3;
    display: grid;
    grid-template-rows: 2fr 1fr repeat(3 ,.5fr) 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 0 30px 0 0;
}

.left{
    background-color: #ffffffd4;
    color: black;
    grid-column: 3/ 6;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    align-items: center;
    border-radius: 0 0 0 30px;
}

.left .title2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.parantese{
    color: gold;
}

.reserve-branch{
    color: gold;
}

.branches{
    margin-bottom: 10px;
}

.reserve-title{
    margin-top: 10px;
    font-size: 20px;
}

.poem{
    color: gold;
    margin: 5px 0;
    padding-bottom: 10px;
}

.item1{
    color: black;
    font-size: 20px;
}

.left-title i{
    font-size: 30px;
    text-align: right;
}

.item2{
    color: black;
    font-size: 20px;
}
